.item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 3px 1px rgba(46, 47, 66, 0.08), 9px -2px 11px -7px rgba(0, 0, 0, 0.75);
}

.status {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 0.5px solid gray;
    margin-left: 20px;
}

.name {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
}