.statistics {
    background-color: white;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 30px;

}

.title {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.statList {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.item {
    display: flex;
    flex-direction: column;
    height: 80px;
    border: 0.2px solid gray;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.percentage {
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-align: center;
}