.transactionHistory {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid gray;
    border-collapse: collapse;
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 3px 1px rgba(46, 47, 66, 0.08), 9px -2px 11px -7px rgba(0, 0, 0, 0.75);
}

.head {
    padding: 10px;
    border: 0.5px solid gray;
    background-color: rgb(167, 210, 224);
}

.body {
    padding: 10px;
    border: 0.5px solid gray;
    text-align: center;
}

.zebra:nth-child(even) {
    background-color: rgb(237, 237, 237);
}

.zebra:nth-child(odd) {
    background-color: white;
}